<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Crystal Image Host</title>
    </head>
    <body>
        <form class="upload" action="/" method="post">
            <input type="image" name="image-upload" id="image-upload">
        </form>
    </body>
</html>
